<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div class="mt-5" id="center">
        <h1 class="mt-5">Error.</h1>
        <h2 class="mt-5">An error occurred while processing your request.</h2>
        @Html.ActionLink("Back home", "Index", null, new { @class = "btn btn-primary mt-5" })

    </div>
        
</body>
</html>
